<!DOCTYPE html>
<html>

<head>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>

<body>

    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div class="btn white darken-4 col s10 m4" id="signinButton">
        <span class="g-signin" data-scope="openid email"
            data-clientid="82964641420-fn563co62q8947k5icu0no7s5lolko6a.apps.googleusercontent.com"
            data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
            data-callback="signInCallback" data-approvalprompt="force">
            <div class="left">
                <img width="20px" alt="Google &quot;G&quot; Logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            </div>
            <p style="text-transform:none; color: black; line-height: 14px; margin-top: 5px;">Login with Google</p>
        </span>
    </div>
    <div id="result"></div>
    <!--END GOOGLE PLUS SIGN IN BUTTON -->
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function () {
                                window.location.href = "/restaurant";
                            }, 4000);

                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html(
                                'Failed to make a server-side call. Check your configuration and console.'
                            );
                        }
                    }
                });
            }
        }
    </script>
</body>

</html>